@keyframes list_hover_animation {
  0%{
    transform: scale(1);
  }
  100%{
    transform: scale(1.026);
  }
}

.list:hover{
  animation-name: list_hover_animation;
  animation-duration: 0.3s;
  animation-fill-mode: forwards;
  animation-iteration-count: 1;
}

.done-task:hover{
  cursor: pointer;
}

.uncomplete-task:hover{
  cursor: pointer;
  background-color: rgb(232, 238, 255);
}
